<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="~{blocks/header::header}"></div>

<div>
    <p>
        Вселенная исследована и поделена.<br>
        Верховный правитель назначает Повелителей Планет, общее количество которых исчисляется миллионами.<br>
        Опытные Повелители могут одновременно управлять несколькими Планетами. Никакой демократии, поэтому одной планетой может править только один Повелитель.<br>
        Поэтому была создана система учета и надзора за Повелителями.
    </p>
</div>

</body>
</html>