<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        form {
            margin: 5% auto;
            width: 400px;
        }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="~{blocks/header::header}"></div>

<p id="success" th:if="${!alert.equals('')}" th:text="${alert}"></p>

<form method="post" th:action="@{/lords/appoint}" th:object="${appoint}">
    <select th:field="*{idLord}" >
        <option th:each="lord : ${lords}"
                th:utext="${lord.getName()}"
                th:value="${lord.getId()}"></option>
    </select>
    <select th:field="*{id}" >
        <option th:each="planet : ${planets}"
                th:utext="${planet.getName()}"
                th:value="${planet.getId()}"></option>
    </select>
    <br>
    <button type="submit">
        <span>Добавить</span>
    </button>
</form>

</body>
</html>